@use "./vars" as *;

@mixin onPhone {
  @media (max-width: 619px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin card {
  width: 90%;
  padding: 20px;
  margin: 40px;
  margin-top: 100px;

  border-radius: 30px;

  @include onPhone {
    width: 320px;
    padding: 10px;
    min-width: 85%;
    margin: 10px;

    border-radius: 15px;
  }

  @include onDesktop {
    width: 700px;
  }
}

@mixin zIndexTop {
  position: relative;
  z-index: 10;
}

@mixin boxButton {
  height: 40px;
  width: 360px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 20px;

  border-radius: 10px;
}

@mixin form {
  .auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 20px;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--cBorder);
    border-radius: 10px;
    padding: 0 15px;
    background-color: var(--inputBG);
    height: 50px;
  }

  .input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 24px;
    text-align: center;

    &::placeholder {
      color: $cLightBlue;
    }
  }
}

@mixin button {
  border-radius: 10px;
  background-color: var(--cBackground);

  border: 1px solid var(--cBorder);
  font-weight: 500;
  font-size: 20px;
  transition: background-color $transition ease,
  color $transition ease;

  &:hover {
    background-color: $cDark;
    color: $cWhite;
  }

  &--dark {
    border: 1px solid $cGray300;
    color: $cGrayWarm;
  }
}

@mixin submit {
  width: 75%;
  height: 50px;

  @include button;
}

$textWidth: 650px;

@mixin p {
  width: $textWidth;

  text-align: left;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;

  @include onPhone {
    width: auto;
  }
}

@mixin title {
  width: $textWidth;
  text-align: center;
  font-size: 40px;
  margin: 45px 0;

  @include onPhone {
    width: auto;
  }
}


@mixin subtitle {
  padding-left: 30px;
  text-align: left;
  font-size: 22px;

  @include onPhone {
    padding-left: 5px;
  }
}

@mixin article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3%;
}
