$cWhite: #fff;

$cGray: #ececec;
$cGray100: #f7f8fa;
$cGray200: #f3f4f7;
$cGray300: #eff0f4; //background
$cGray400: #e5e5e5;

$cGrayLightInput: #f5f5f5;
$cTeal: #008080;
$cBlueGray: #626c91ff;

// for word progress
$cLightGreen: #42d282;
$cDarkBlue: #027889;
$cBlue: #68aeb9;
$cLightBlue: #bed7d7;
$cLightOrange: #ff944d;

$transition: 0.3s;
$cViolet: #e2b4ff;
$cDark: #2c3143;
$cLightDark: #535767;
$headerHeight: 80px;

:root {
  --cBackground: #{$cGray300};
  --cActive: #e2b4ff;
  --mainBG: #{$cWhite};
  --mainText: #{$cBlueGray};
  --blackGray: #{$cDark};
  --inputBG: #{$cGrayLightInput};
  --cBorder: #{$cDark};
  --cOrange: #{$cLightOrange};
}

$cGrayWarm: #f4f4f2;
.dark {
  --cBackground: #2f3336;
  --mainBG: #232526;
  --mainText: #{$cGrayWarm};
  --cActive: rgba(189, 185, 185, 0.3);
  --blackGray: #{$cGrayWarm};
  --inputBG: #202223;
  --cBorder: #{$cGray300};
  --cOrange: #682905;
}