$cWhite: #fff;

$cGray: #ececec;
$cGray100: #f7f8fa;
$cGray200: #f3f4f7;
$cGray300: #eff0f4; //background
$cGray400: #e5e5e5;

$cGrayLightInput: #f5f5f5;
$cTeal: #008080;
$cBlueGray: #626c91;

// for word progress
$cLightGreen: #42d282;
$cDarkBlue: #027889;
$cBlue: #68aeb9;
$cLightBlue: #bed7d7;
$cLightOrange: #ff944d;

$transition: 0.3s;
$cViolet: #e2b4ff;
$cDark: #2c3143;
$cLightDark: #535767;
$headerHeight: 80px;
