$cWhite: #fff;
$cLightGray: #eff0f4; 
$cLighterGray: #f7f8fa;
$cGray: #ececec;
$cGrayLightInput: #f5f5f5;
$cTeal: #008080;
$cBlueGray: #626c91;

// for word progress
$cLightGreen: #42d282;
$cDarkBlue: #027889;
$cBlue: #68aeb9;
$cLightBlue: #bed7d7;
$cLightOrange: #ff944d;
