@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.wordsItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  color: $cTeal;

  &:last-child > .bottomLine {
    display: none;
  }
}

.word {
  font-size: 26px;
}

.wordWrapper {
  display: flex;
  justify-content: space-between;
}

.delete {
}

.translation {
  font-size: 16px;
  margin-bottom: 27px;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottomElement {
  color: $cBlueGray;
  font-size: 12px;
  display: inline-block;
}

.learnAgain {
  @include button;
}

.verticalBar {
  font-size: 10px;
}

.bottomLine {
  background-color: var(--cBackground);
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;

  height: 2px;

  @include onPhone {
    left: -10px;
    right: -10px;
  }
}
