@use '../../_utils/mixins' as *;
@use '../../_utils/vars' as *;

.addWordsPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: $cWhite;
  
  @include card;
  
  @include onPhone {
    gap: 15px;
  }
}

.input {
  height: 50px;
  min-width: 100px;
  width: auto;
  padding: 0 15px;

  color: $cTeal;
  border: none;
  background-color: $cGrayLightInput;
  outline: none;
  border-radius: 10px;
}
