@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.addWordsPage {
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  background-color: var(--mainBG);
  color: var(--blackGray);
  @include card;

  @include onPhone {
    gap: 15px;
    flex-direction: column;
    min-width: 90%;
  }
}

.input {
  height: 50px;
  min-width: 100px;
  width: auto;
  padding: 0 15px;

  font-size: 24px;
  color: $cTeal;
  border: none;
  background-color: var(--inputBG);
  outline: none;
  border-radius: 10px;
}

.input--dark {
  border: 1px solid $cGrayWarm;
}

.submit {
  width: auto;
  @include submit;
}

.note {
  display: none;
  text-align: center;
  background-color: var(--cOrange);
  color: $cGrayWarm;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;

  @include onPhone {
    display: block;
  }
}
