@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.article1 {
 @include article;
}

.title {
  @include title;
}

.p {
  @include p;
}

.subtitle {
  @include subtitle;
}

.anchorLink {
  padding-left: 30px;
  margin-bottom: 20px;
  width: 500px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--mainText);

  &:hover {
    color: $cLightOrange;
  }
}
