@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.mobileWelcomeHeader {
  height: 80px;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  background-color: $cWhite;
}

.logo {
  @include zIndexTop;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.burgerMenu {
  @include zIndexTop;
}
