@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

$menuWidth: 35px;

.menu {
  width: $menuWidth;
  height: 100vh;
  padding: 20px;

  transition: width $transition ease;
  background-color: var(--cMenuBG);
  overflow: hidden;

  &:hover {
    width: 200px;
  }

  @include onPhone {
    padding: 5px;

    &:hover {
      width: $menuWidth;
    }
  }
}

.logo {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;

  @include onPhone {
    margin: 10px 0 20px 5px;
  }
}

.nav {
  width: 180px;
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navitem {
  text-decoration: none;
  border-radius: 10px;
  transition: background-color $transition ease;

  &:hover {
    background-color: rgba(189, 185, 185, 0.1);
    box-shadow: 0 0 8px #fff;
  }
}

$menuItemWidth: 40px;

.iconWrapper {
  width: $menuItemWidth;
  height: $menuItemWidth;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink {
  height: $menuItemWidth;
  display: flex;
  align-items: center;
  gap: 16px;

  text-decoration: none;
  color: var(--cNavText);
  border-radius: 10px;
}

.active {
  background-color: var(--cActive)
}
