@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;

  color: $cDark;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 400 26px "Noto Sans",
  "Helvetica Neue",
  Arial,
  Helvetica,
  Geneva,
  sans-serif;
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  width: 350px;
}

@include form;

.underline {
  text-decoration: underline;
}

.error {
  color: red
}

.agreement {
  color: var(--mainText);

  @include onPhone {
    width: 350px;
  }
}

.submit {
  @include submit;
}


