@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;

  color: $cDark;
  background-color: var(--cBackground);
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 400 26px "Noto Sans",
  "Helvetica Neue",
  Arial,
  Helvetica,
  Geneva,
  sans-serif;
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  width: 350px;
}

.auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.underline {
  text-decoration: underline;
}

 .error {
  color: red
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $cGrayWarm;
  border-radius: 10px;
  padding: 0 15px;
  background-color: var(--inputBG);
  height: 50px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  text-align: center;
}

.submit {
  width: 75%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--cBackground);

  border: 1px solid $cGrayWarm;
  font-weight: 500;
  font-size: 20px;
  transition: background-color $transition ease,
  color $transition ease;

  &:hover {
    background-color: $cDark;
    color: $cWhite;
  }
}

.submit--dark {
  border: 1px solid $cGray300;
  color: $cGrayWarm;
}


.agreement {
  color: var(--mainText);

  @include onPhone {
    width: 350px;
  }
}


