@use '../../_utils/vars' as *;

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $cGrayLight;
  font-family: Arial, sans-serif;
  font-size: 24px;
}
