@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.selfAd {
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 30px;

  background-color: rgb(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 20px;
}

.getStarted {
  padding: 10px;
  width: 120px;
  text-align: center;

  @include button;
}
