@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

@include form;

.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  padding-top: 15%;
  color: $cDark;
}

a {
  text-decoration: none;
  color: $cDark;
}

.error {
  color: red
}

$formElWidth: 80%;

.input-wrapper {
  width: $formElWidth;
}

.submit {
  @include submit;

  box-sizing: border-box;
  width: calc($formElWidth + 7%);
}

.signup {
  @include boxButton;
  width: $formElWidth;
  justify-content: center;

  border: 1px solid var(--cBorder);
  font-family: "Noto Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition:
    background-color $transition ease,
    color $transition ease;

  &:hover {
    background-color: $cDark;
    color: $cGray300;
  }

  &--dark {
    color: $cGrayWarm;
  }
}
