@use "../../_utils/vars" as *;

.wordProgress {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 15px;

  border-radius: 10px;

  &:hover {
    background-color: var(--cBackground);
  }
}

.level {
  background-color: $cGray;
  width: 16px;
  height: 4px;
  border-radius: 4px;
}

.learnMore {
  color: $cBlueGray;
  font-weight: lighter;
  font-size: 15px;

  transition: opacity 0.3s ease;
  opacity: 0;
}

.wordProgress:hover .learnMore {
  opacity: 1;
}

.orange {
  background-color: $cLightOrange;
}

.lightBlue {
  background-color: $cLightBlue;
}

.blue {
  background-color: $cBlue;
}

.darkBlue {
  background-color: $cDarkBlue;
}

.green {
  background-color: $cLightGreen;
}
