@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.wordInfo {
  @include card;

  background-color: var(--mainBG);
  color: var(--blackGray);

  @include onPhone {
    min-width: 90%;
  }
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px 20px;

  font-size: 1.4em;

  @include onPhone {
    gap: 10px;
    flex-direction: column;
  }
}

.notFound {
  font-size: 1.2em;
  text-align: center;
}

.similarWord {
  margin: 10px;
  padding: 10px;
  @include button;
  color: var(--mainText);
}

.word {
}

.pronunciation {
}

.wordTranslation {
}

.translations {
}

.definitions {
  padding-left: 30px;

  @include onPhone {
    padding-left: 5px;
  }
}

.partOfSpeech {
  font-size: 1.2em;
  @include onPhone {
    font-size: 1.3em;
    text-decoration: underline;
  }
}

.definitionSection {
  display: flex;
  gap: 10px;
}

.definitionGroup {
  flex: 1
}

.example {
  margin-bottom: 15px;
  color: $cBlueGray;
  font-size: 0.8em;

  @include onPhone {
    margin-bottom: 5px;
  }
}

.definitionItem {
  position: relative;

  &:hover .addWord {
    opacity: 0.8;
  }

  &:hover::after {
    content: "";
    position: absolute;
    border-radius: 15px;
    inset: 0;
    width: 100%;
    background-color: rgba(black, 0.7);

    @include onPhone {
      border-radius: 7px;
    }
  }
}

.addWord {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  font-size: 1.3em;
  font-weight: 900;
  color: $cLightOrange;
  white-space: nowrap;
}

.showMore {
  padding: 7px;
  color: var(--blackGray);
  @include button;
}

