@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.wordInfo {
  @include card;

  background-color: var(--mainBG);
  color: var(--blackGray);

  @include onPhone {
    min-width: 90%;
  }
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px 20px;

  font-size: 1.4em;

  @include onPhone {
    gap: 10px;
    flex-direction: column;
  }
}

.notFound {
  font-size: 1.2em;
  text-align: center;
}

.similarWord {
  margin: 10px;
  padding: 10px;
  @include button;
  color: var(--mainText);
}

.word {
}

.pronunciation {
}

.wordTranslation {
}

.translations {
}

.definitions {
  padding-left: 30px;

  @include onPhone {
    padding-left: 5px;
  }
}

.definitionSection {
  display: flex;
  gap: 10px;
}

.partOfSpeech {
  font-size: 1.2em;
  @include onPhone {
    font-size: 1.3em;
    text-decoration: underline;
  }
}

.example {
  margin-bottom: 15px;
  color: $cBlueGray;
  font-size: 0.8em;

  @include onPhone {
    margin-bottom: 5px;
  }
}

.definitionItem {
}

.showMore {
  padding: 7px;
  color: var(--blackGray);
  @include button;
}

