@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.learnWordsPage {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to bottom, $cWhite 60%, $cGray200 40%);

  @include card;
}

.learnCard {
  max-height: 250px;
}

.input {
  height: 50px;
  padding: 0 15px;

  color: $cTeal;
  font-size: 24px;
  text-align: center;

  border: none;
  background-color: $cGrayLightInput;
  outline: none;
  border-radius: 10px;
}

.sentence {
  color: $cTeal;
}

.wordTranslate {
  margin: 70px 0 30px 30px
}
