@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.learnWordsPage {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.noWords {
  text-align: center;
  font-size: 2em;
  margin: 300px 0;
  color: var(--mainText);
}

.link {
  color: var(--mainText);
  text-decoration: underline;
}

.card {
  background-image: linear-gradient(to bottom, $cWhite 60%, $cGray100 40%);

  @include card;
}

.card--dark {
  background-image: linear-gradient(to bottom, var(--mainBG) 60%, #101212 40%);
}

.learnCard {
  max-height: 250px;
}

.userWord {
  height: 50px;
  padding: 0 15px;

  color: $cTeal;
  font-size: 24px;
  text-align: center;

  border: none;
  background-color: var(--inputBG);
  outline: none;
  border-radius: 10px;
}

.incorrectWord {
  color: var(--cOrange);
}

.input--dark {
  border: 1px solid $cGrayWarm;
}

.sentence {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: $cTeal;
}

.submit {
  display: none;
  @include submit;

  @include onPhone {
    display: block;
  }
}

.definition {
  color: #505a5e;
}

.wordTranslate {
  margin: 70px 0 30px 30px;

  @include onPhone {
    transform: translateY(-50px)
  }
}

.wordTranslate--dark {
  color: $cGrayWarm;
}
