@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

.learnWordsPage {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to bottom, $cWhite 60%, $cGray100 40%);

  @include card;
}

.card--dark {
  background-image: linear-gradient(to bottom,  var(--mainBG) 60%, #101212 40%);
}

.learnCard {
  max-height: 250px;
}

.input {
  height: 50px;
  padding: 0 15px;

  color: $cTeal;
  font-size: 24px;
  text-align: center;

  border: none;
  background-color: var(--inputBG);
  outline: none;
  border-radius: 10px;
}

.input--dark {
  border: 1px solid $cGrayWarm;
}

.sentence {
  color: $cTeal;
}

.wordTranslate {
  margin: 70px 0 30px 30px;
}
.wordTranslate--dark {
  color: $cGrayWarm;
}
