@use "../../_utils/mixins" as *;
@use "../../_utils/vars" as *;

$width: 300px;

.articlePreview {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: formular sans-serif;
  color: var(--blackGray);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  }
  @include onPhone {
    gap: 12px;
    height: auto;
  }
}

.articleElement {
  margin: 0;
  padding: 0;
}

.img {
  width: 300px;
  border-radius: 8px;

  @include onPhone {
    border-radius: 4px;
  }
}

.title {
  font-size: 22px;
}