@use "_utils/vars" as *;

.app {
  display: flex;
  min-height: 100vh;
  margin: 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  background-color: var(--cBackground);
  font-size: 24px;
}


.mainContent {
  flex: 1;
}
