@use "_utils/vars" as *;
@use "./_utils/mixins" as *;

.app {
  display: flex;
  min-height: 100vh;
  margin: 0;

  font-family: "Noto Serif", "Times New Roman", serif;
  background-color: var(--cBackground);
  font-size: 24px;

  @include onPhone {
    flex-direction: column;
    padding-top: 100px;
  }
}


.mainContent {
  flex: 1;
}
